@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Carrois+Gothic+SC&family=Delius+Swash+Caps&family=League+Spartan:wght@100..900&family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    margin: 0;
    box-sizing: border-box;
}

/* ADMIN LOGIN */

#login {
    background-color: #c7454a;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.company-logo-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.icon-logo {
    aspect-ratio: auto;
    width: 13rem;
}

.text-logo {
    height: 3rem;
}

.vertical-line {
    height: 80%;
    width: .01rem;
    background-color: #c9cdcf;
}

#admin-login-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 25%;
    height: 80%;

    gap: .7rem;
}

#admin-login-form > input {
    width: 100%;
    height: 2rem;

    background: none;
    border: white 1px solid;

    margin-bottom: 2rem;
    padding: 1.3rem;

    color: white;
}

#admin-login-form > input:focus {
    outline: none;
}

#admin-login-form > label {
    color: white;

    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    align-self: flex-start;
}

#admin-login-form > button {
    width: 100%;
    height: 2.7rem;

    color: #c7454a;
    border: none;

    border-radius: 5px;

    transition: 
        color 150ms ease-in-out,
        background-color 150ms ease-in-out;

}

#admin-login-form > button:hover {
    color: white;
    background-color: #94161b;
}

#admin-login-form > h3 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3.7rem;
    color: white;
}

#admin-login-form > p {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3rem;
    color: white;
}

#admin-login-form > a {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

/* ADMIN LOGIN */

/* ADMIN PANEL */

#admin-menu {
    height: 100vh;
    width: 100vw;
    background-color: white;

    display: flex;
}

#admin-menu > menu {
    padding: 0;
    height: 100%;
    width: 13vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;

    background-color: #94161b;
    color: white;
}

#admin-menu > menu > img {
    aspect-ratio: auto;
    width: 4rem;
    margin-top: 2rem;
}

#admin-menu > menu > p {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#admin-menu > menu > li {
    display: flex;
    align-items: center;

    width: 70%;
    border-radius: 5px;
    margin-bottom: .5rem;
    padding: .2rem;

    transition: background-color 200ms ease-in-out;
}

#admin-menu > menu > li:hover {
    background-color: #c7454a;
}

#admin-menu > menu > li, #admin-menu > menu > p {
    align-self: flex-start;
    margin-left: 2rem;
    list-style-type: none;
}

#admin-menu > menu > li > button {
    background: none;
    border: none;
    color: white;
    padding: 0;
    margin-left: .3rem;

    font-size: .9rem
}

/* ADMIN PANEL */

/* DASHBOARD */

#dashboard {

}

/* DASHBOARD */