@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Carrois+Gothic+SC&family=Delius+Swash+Caps&family=League+Spartan:wght@100..900&family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    margin: 0;
    box-sizing: border-box;
}

/* ADMIN LOGIN */

#login {
    background-color: #c7454a;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.company-logo-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.icon-logo {
    aspect-ratio: auto;
    width: 13rem;
}

.text-logo {
    height: 3rem;
}

.vertical-line {
    height: 80%;
    width: .01rem;
    background-color: #c9cdcf;
}

#admin-login-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 25%;
    height: 80%;

    gap: .7rem;
}

#admin-login-form > input {
    width: 100%;
    height: 2rem;

    background: none;
    border: white 1px solid;

    margin-bottom: 2rem;
    padding: 1.3rem;

    color: white;
}

#admin-login-form > input:focus {
    outline: none;
}

#admin-login-form > label {
    color: white;

    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;

    align-self: flex-start;
}

#admin-login-form > button {
    width: 100%;
    height: 2.7rem;

    color: #c7454a;
    border: none;

    border-radius: 5px;

    transition: 
        color 150ms ease-in-out,
        background-color 150ms ease-in-out;

}

#admin-login-form > button:hover {
    color: white;
    background-color: #94161b;
}

#admin-login-form > h3 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3.7rem;
    color: white;
}

#admin-login-form > p {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3rem;
    color: white;
}

#admin-login-form > a {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

/* ADMIN LOGIN */

/* ADMIN PANEL */

#admin-page {
    height: 100vh;
    width: 100vw;
    background-color: white;

    display: flex;
}

#admin-display {
    width: 87vw;
    height: 100vh;
    background-color: white;
}

#admin-page > menu {
    padding: 0;
    height: 100%;
    width: 13vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;

    background-color: #94161b;
    color: white;
}

#admin-page > menu > img {
    aspect-ratio: auto;
    width: 4rem;
    margin-top: 2rem;
}

#admin-page > menu > p {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#admin-page > menu > li {
    display: flex;
    align-items: center;

    width: 70%;
    border-radius: 5px;
    margin-bottom: .5rem;
    padding: .2rem;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

#admin-page > menu > li:hover {
    background-color: #c7454a;
}

#admin-page > menu > li, #admin-page > menu > p {
    align-self: flex-start;
    margin-left: 2rem;
    list-style-type: none;
}

#admin-page > menu > li > button {
    background: none;
    border: none;
    color: white;
    padding: 0;
    margin-left: .3rem;

    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

/* ADMIN PANEL */

/* DASHBOARD */

#dashboard {
    display: flex;
    flex-direction: column;
}

#dashboard > h1 {
    margin-top: 3rem;
}

#dashboard > h1, #dashboard > p {
    margin-left: 4rem;
}

.dashboard-cards-container {
    display: flex;
    gap: 1.3rem;

    margin-top: 2rem;
    margin-left: 4rem;
}

.dashboard-cards {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 7rem;
    background-color: #c7454a;
    border-radius: 10px;

    text-align: center;
    opacity: .5;
}

.dashboard-cards-yellow {
    background-color: #ffe1af;
}

.dashboard-cards-violet {
    background-color: #696fc7;
}

.dashboard-cards-green {
    background-color: #a3dc9a;
}

.dashboard-cards-purple {
    background-color: #cb9df0;
}

.dashboard-cards-red {
    background-color: #c96868;
}

.dashboard-visualization-container {
    display: flex;
}

.dashboard-summary {
    width: 51vw;
    height: 56vh;

    margin-top: 2rem;
    margin-left: 4rem;

    border: #b8b8b8 1px solid;
    border-radius: 15px;
}

.dashboard-summary > h3 {
    margin-top: 1.6rem;
    margin-left: 1.6rem;

    font-size: 1.6rem;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.dashboard-most-viewed-products {
    width: 20vw;
    height: 56vh;

    margin-top: 2rem;
    margin-left: 1.3rem;

    border: #b8b8b8 1px solid;
    border-radius: 15px;
}

.dashboard-most-viewed-products > h3 {
    margin-top: 1.6rem;
    margin-left: 1.6rem;

    font-size: 1.3rem;
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* DASHBOARD */

/* PRODUCTS */

#products {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    width: 90%;
    height: 80%;

    border-radius: 15px;
    border: #b8b8b8 1px solid;
}

.products-container > h3 {
    color: #9b9b9b;
    font-weight: 200;

    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.products-container > h3 > strong {
    font-weight: 800;
    color: #c96868;
}

.products-container > hr {
    background-color: #b8b8b8;
}

.products-container > span {
    display: flex;
    justify-content: space-between;
}

.products-container > span > button {
    height: 2.1rem;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.products-btn-add {
    background-color: #c96868;
    color: white;
    border: none;

    transition: background-color 200ms ease-in-out;
}

.products-btn-add:hover {
    background-color: #94161b;
}

.products-btn-delete-all {
    border: #b8b8b8 1px solid;
    
}

table {
    margin-top: 2rem;
    min-width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: .8rem;
    border-bottom: #9b9b9b 1px solid;
}

/* PRODUCTS */